@import "@neshan-maps-platform/mapbox-gl-react/dist/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
}

#map {
  bottom: 0;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}
